/* Fonts */

@font-face {
  font-family: "Apple Chancery";
  src: url("typefaces/AppleChancery.ttf") format("ttf");
  font-style: normal;
}


/* Body */
body {
  margin: 0;
  padding: 40px;
  background-color: #FAFAFA;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400; 
  font-size: 18pt;
  color: #000;
  line-height: 1;
}


/* Highlight color */
::selection {
  background: #ADADAD;
}


/* Navigation */
.main-nav {
  display: flex;
  gap: 30px;
}

/* Navigation items */
.nav-item {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  background-color: #E5E5E5;
  padding: 5px 10px;
  border-radius: 20px;
  transition: border-radius 0.2s ease;
}

/* Hover: inactive items go square */
.nav-item:hover {
  border-radius: 0px;
}

/* Active page: always square */
.nav-item.active {
  border-radius: 0px;
}


/* Individual nav item colours */
.main-nav .nav-item:nth-child(1) {
  background-color: #56DAFF;   /* Writing */
}

.main-nav .nav-item:nth-child(2) {
  background-color: #C7B09E;   /* Shop */
}

.main-nav .nav-item:nth-child(3) {
  background-color: #4FFF70;   /* Calender */
}


/* London time (top right) */
.london-time {
  position: fixed;
  align-items: right;
  top: 45px;
  right: 40px;
}


/* Floating bottom card */
.floating-card {
  position: fixed;
  padding: 40px;       
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh; /* 1/4 of viewport height */
  background-color: #FF1F1F;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.3);
  transition: height 0.5s ease;
  cursor: pointer;
  z-index: 1000; /* above other content */
  color: #FAFAFA;
}

/* Expanded state */
.floating-card.expanded {
  height: 85vh; /* 3/4 of viewport height */
}

.floating-card p {
  margin: 0 0 24px 0;
  font-family: "Apple Chancery";
}